@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Reddit+Mono:wght@200..900&display=swap');

body {
    margin-top: 10rem;
    background-color: rgba(101, 92, 92, 0.586);
    display: flex;
    justify-content: center;
}

img {
    width: 250px;
    border-radius: 20% 0% 0 0%;
}

h1 {
    display: flex;
    justify-content: center;
    color: black;
    font-family: "Orbitron";
}

p {
    display: flex;
    justify-content: center;
    color: black;
}

button {
    display: flex;
    justify-items: center;
    background-color: black;
    color: white;
}

.main {
    background: white;
    border-radius: 20% 0% 20% 0%;
}